@import './var.pcss';

/* html body */
html,
body {
  display: block;
  font-weight: normal;
  font-size: 16px;
  font-family: var(--font-name-main, var(---)), sans-serif;
  margin: 0;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* header h1-h6 */
@for $f from 1 to 6 {
  h$(f) {
    margin: unset;
    color: var(--color-black);
    letter-spacing: normal;
    line-height: 141%;
    /* font-size: calc(var(--font-size-h$(f)) * 1rem); */
    font-size: calc(16px + 6 * ((100vw - 320px) / 180 / $(f)) * 0.89);
  }
}

/* grid and spacing */
section {
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
article {
  display: grid;

  @media (max-width: 1024px) {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

/* paragraph */
p {
  color: var(--color-grey);
  font-size: 0.88rem;
  letter-spacing: normal;
  margin: 0;
  word-break: break-word;
}

/* href */
a,
a:hover {
  text-decoration: none;
  letter-spacing: normal;
  transition: all 0.25s var(--trs-cubic);
  user-select: none;
}

/* divider */
hr {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  border: none;
  background-color: #ccc;
}
/* ==== UL ==== */
ul {
}

li {
}
/* ==== NAVIGATION ==== */
header,
main,
footer {
}

main {
}

nav {
  font-style: normal;
}

address {
  font-style: normal;
}

span {
}

button {
  user-select: none;
  cursor: pointer;
}

select {
}

img {
  max-width: 100%;
  height: auto;

  @mixin MixUserDrag none;
}

picture {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

picture svg {
  height: 100%;
  width: 100%;
}

/* global */
*:focus {
  outline: none;
}

/* FIREFOXFIX */
input:required,
input:invalid {
  box-shadow: none;
}
input:disabled,
textarea:disabled {
  background-color: #0000;
}

/* uploadfix */
input[type='file']::-webkit-file-upload-button {
  margin: 0;
  padding: 0;
  width: 0;
  border: none;
  -webkit-appearance: none;
}

/* delete */
.DELETE {
  display: none !important;
}

.DEL {
  display: none !important;
}
