/**
 * Корневые переменные 
*/
:root {
  ---: '__UNDEFINED__';
  --trs-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --font-name-main: 'SF-UI-Display-Medium';
  --font-name-second: 'SF-UI-Display-Bold';
  --main-font-size: 1rem;
  --color-black: #222;
  --color-grey: #919191;
  --color-blue: #3898ec;
  --font-size-h1: 2.5;
  --font-size-h2: 2.05;
  --font-size-h3: 1.6;
  --font-size-h4: 1.23;
  --font-size-h5: 0.95;
  --font-size-h6: 0.7;
}
