<template>
  <div class="card card__box">
    <div class="drag__aria"><span class="drag__text">drag and drop here</span></div>
  </div>
</template>

<script lang="ts">
  import { ref, defineComponent } from 'vue';

  export default defineComponent({
    name: 'CardBody',
    props: {
      // txt: {
      //   type: String,
      //   required: true,
      // },
    },
    setup: () => {},
  });
</script>

<style lang="postcss" scoped>
  :root {
    --color-info: #ffffff90;
    --border-info: #ccc;

    --color-dragged: #dff0f290;
    --border-dragged: #dff0f2;

    --color-warn: #f1f1f1;
    --border-warn: #ccc;

    --grey: #999;
  }

  .card {
    display: grid;

    /* border: 1px solid var(--border-info); */
    &__box {
      gap: 1rem;
      padding-bottom: 1rem;
    }
  }
  .title {
    padding: 0 1rem;
    margin-top: 1rem;
  }
  .drag__aria {
    border: 4px dashed var(--grey);
    background-color: var(--color-info);
    margin: 1rem;
    padding: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 9rem;
    border-radius: 13px;
    box-shadow: 0 13px 27px -5px hsl(240deg 30% 28% / 25%), 0 8px 16px -8px hsl(0deg 0% 0% / 30%),
      0 -6px 16px -6px hsl(0deg 0% 0% / 3%);
  }
  .drag__text {
    font-size: 28px;
    color: var(--grey);
  }
</style>
