<template>
  <form action="#" class="form" @submit.prevent="pushSubmit">
    <label class="label" for="uploadfile">Upload txt | 5kb max</label>

    <div class="upload__grid">
      <input
        class="upload__box"
        type="file"
        name="uploadfile"
        id="uploadfile"
        autocomplete="off"
        @change="handleSelection('change', $event)"
      />

      <button class="button" type="submit" :disabled="stateButton">{{ buttonMessage }}</button>
    </div>
    <span class="warning">{{ warningMessage }} </span>

    <a
      v-if="successMessage"
      class="href upload__box success"
      :href="successMessage"
      target="_self"
      rel="noopener noreferrer"
    >
      <span class=" ">Download</span>
    </a>
  </form>
</template>

<script lang="ts">
  import { ref, defineComponent, computed } from 'vue';
  import axios from 'axios';

  export default defineComponent({
    name: 'UploadFile',
    props: {},

    setup: _ => {
      interface VAL_FORM {
        target: HTMLInputElement;
        state?: boolean;
        file?: File;
        message?: string;
      }

      const warningMessage = ref('');
      const buttonMessage = ref('Upload');
      const successMessage = ref('');
      const stateButton = ref(true);
      let inputValue = ref({});
      let extraClearInput = ref({});

      const clearAllFields = () => {
        (<HTMLInputElement>extraClearInput.value).value = '';
        buttonMessage.value = 'Upload';
        inputValue.value = '';
        stateButton.value = false;
      };

      const nulledInputForm = ({ target, message = '', state = true, file }: VAL_FORM) => {
        if (message) target.value = '';

        warningMessage.value = message;
        stateButton.value = state;
        inputValue.value = file ?? {};
      };

      const msg = {
        type: 'wrong file type, need text/plain',
        sizeLow: "file size can't be zero size",
        sizeHigh: 'max file size 5kb',
        name: 'file name is to large',
      };

      const handleSelection = (_: any, event: Event) => {
        const file = (<HTMLInputElement>event.target).files?.[0];
        const target = <HTMLInputElement>event.target;
        extraClearInput.value = target;

        if (file?.type !== 'text/plain') return nulledInputForm({ target, message: msg.type });
        if (file?.size >= 5000) return nulledInputForm({ target, message: msg.sizeHigh });
        if (file?.size <= 0) return nulledInputForm({ target, message: msg.sizeLow });
        if (file?.name.length >= 120) return nulledInputForm({ target, message: msg.name });

        successMessage.value = '';

        return nulledInputForm({
          target,
          state: false,
          file,
        });
      };

      const pushSubmit = async () => {
        if (inputValue.value) {
          try {
            stateButton.value = true;
            buttonMessage.value = 'Loading...';

            const send = inputValue.value as File;
            const filename = send?.name;
            const _file = new Blob([send], { type: 'text/plain' });

            const formData = new FormData();
            const graph = '{ "query": "mutation($file: Upload!){ uploadFiles(file: $file)}" }';
            formData.append('operations', graph);
            formData.append('map', '{ "0": [ "variables.file" ]}');
            formData.append('0', _file, filename);

            const url = 'http://localhost:4012/graphql?';
            const { data } = await axios({
              url,
              method: 'POST',
              headers: { Accept: 'application/json', 'Content-Type': 'multipart/form-data' },
              data: formData,
            });

            const { uploadFiles } = data.data;
            console.log(`[LOG] uploadFiles`, `<${typeof uploadFiles}>`, uploadFiles);

            successMessage.value = uploadFiles ?? 'LOL';
          } catch (error) {
            console.log(`[LOG] error`, `<${typeof error}>`, error);
            warningMessage.value = error;
          } finally {
            clearAllFields();
          }
        }
      };

      return {
        buttonMessage,
        successMessage,
        inputValue,
        stateButton,
        warningMessage,
        handleSelection,
        pushSubmit,
      };
    },
  });
</script>

<style lang="postcss" scoped>
  .upload__box {
    background-color: #fff;
    padding: 2rem;
    cursor: pointer;
    border-bottom: 3px solid #0000;
    transition: border 0.123s ease-out;

    &:hover {
      border-bottom: 3px solid #68a2d0;
    }
  }

  .success {
    &:hover {
      border-bottom: 3px solid #97e8aa;
    }
  }

  .href {
    text-decoration: none;
    color: #333;
    text-align: center;
  }
  .form {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
  }
  .label {
    pointer-events: none;
  }
  .button {
    background-color: #fff;
    cursor: pointer;
    border: 0;
    border-bottom: 3px solid #0000;
    padding: 2rem 4rem;
    transition: border 0.123s ease-out;
    &:hover {
      border-bottom: 3px solid #fbd03d;
    }
  }
  .upload__grid {
    display: grid;
    gap: 1rem;
    grid: auto / 4fr 1fr;

    @media (max-width: 768px) {
      grid: auto / 1fr;
    }
  }
  .warning {
    color: #de2727;
  }
</style>
