<template>
  <section class="box">
    <picture>
      <source srcset="https://picsum.photos/120/130" />
      <img src="https://picsum.photos/120/130" alt="picture" class="drag-enable" />
    </picture>
    <h2 class="title">👋 Txt city parser</h2>
    <upload-file></upload-file>
  </section>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import '@style/pcss/var.pcss';
  import '@style/pcss/index.pcss';

  export default defineComponent({
    name: 'App',
  });
</script>

<style lang="postcss">
  @import 'normalize.css';

  html {
    background-color: #f4f7fc;
    width: 100%;
    height: 100%;
  }
  #app {
    max-width: 1260px;
    margin: 3rem auto;
  }
  .box {
    display: grid;
    gap: 2rem;
  }
  .title {
    color: #333;
  }
  .drag-enable {
    user-select: auto;
    -webkit-user-drag: auto;
  }
</style>
